/* CSS Style Sheet for Crazy Bob */

/* Global Style */
body{
    background-color:darkgray;
    margin:0;
    Padding:0;
}

div#container{
    background-color:coral;
    width:1024px;
    /* Centers the Container */
    margin:auto;
}

header{
    background-image:url(../images/fall_colors.jpg);
    background-position:left;
    background-size:1100px;
    background-color:bisque;
    width:100%;
    height:150px;
    margin:0;
}

header h1 {
    text-align:center;
    padding-top:50px;
    color:white;
    text-shadow:3px 3px 2px black;
    margin:0;
    font-family: 'Days One', sans-serif;
    font-size:50px
}

nav {
    width:100%;
    background-color:dimgray;
    clear:both;
    margin:0;
    color:white
}

nav ul{
    margin:0;
    padding:0;
    overflow:hidden;
    list-style:none;
}

nav ul li {
    float:left;
}

nav ul li a {
    display:block;
    color:white;
    text-align:center;
    text-decoration:none;
    padding:14px; 16px;
}

nav ul li a:hover {
    background-color:chocolate
}

.active{
    background-color:orange
}

footer{
    width:98.7%;
    background-color:bisque;
    color:black;
    text-align:center;
    padding:5px 0;
    border:7px outset maroon;
}

.keepOpen{
    clear:both;
}

/* index.html */
#home_pumpkin{
    width:400px;
    display:block;
    margin:15px;
    border:7px outset brown;
    float:left;
}

h2#h2_home{
    float:left;
    margin-bottom:0;
    margin-top:10px;
    font-family: 'Comfortaa', cursive;
}

p#p_home{
    float:left;
    width:56%;
    margin-top:10px;
    font-family: 'Comfortaa', cursive;
}

/* about.html */

#img_about{
    width:475px;
    display:block;
    margin:15px;
    border:7px outset brown;
    float: left;
}

h2#h2_about{
    float:left;
    margin-bottom:0;
    margin-top:10px;
    font-family: 'Comfortaa', cursive;
}

p#p_about{
    float:left;
    width:49%;
    margin-top:10px;
    font-family: 'Comfortaa', cursive;
}