/* CSS Reset */
html, body, #container, header, nav, div, #content, footer, h1, h2, h3, h4, h5, h6, ul, li, a{
    padding: 0;
    margin:0;
}

h1{
   font-family: 'Courgette', cursive; 
   font-size:80px;
   margin-top:47px;
}

p{
    font-family: 'Sirin Stencil', cursive;
    font-size: 18px;
}

nav{
    display:flex;
    width: 100%;
    font-family: 'Sirin Stencil', cursive;
    font-size:24px;
    color: white;
    text-decoration: none;
    background: linear-gradient(to bottom right, #00baba, #007e7e);
}

nav ul li{
    list-style-type: none;
    float:left;
}

nav ul li a{
    display:block;
    text-decoration: none;
}

nav ul li a#about{
    margin-left:10%;
}

nav ul li a#portfolio{
    margin-left:30%;
}

nav ul li a#skills{
    margin-left:29%;
}

nav ul li a#contact{
    margin-left:80%;
}

img{
    max-height:300px;
    max-width:300px;
}

header{
    display: flex;
    background: linear-gradient(to bottom right, #00CC99, #03a77e);
    width:auto;
    height:200px;
    justify-content: space-around;
}

body{
    background: linear-gradient(to top left, #989898, #b5b5b5)
}

a{
    color:black;
}

div#P-imgs{
    display:flex;
    flex-direction: row;
    margin-bottom: 10px;
}

div#column1 img{
    margin-top:10px;
}

div#column2 img{
    margin-top:10px;;
}

div#column3 img{
    margin-top:10px;
}

div#About-Layout{
    display: flex;
    flex-wrap: wrap;
 }

div#Jeff img{
    display: block;
    float:left;
    border: 7px outset #00CC99;
    margin-left:10px;
    margin-top:10px;
}

div#About-Layout p{
    float:right;
    width:80%;
    margin-right:10px;
    margin-left:10px;
}
div#content{
    display: flex;
    width:100%;
    margin:auto;
}

div#About-Layout h2{
    float:right;
    width:80%;
    margin-right:10px;
    margin-top:10px;
    margin-left:10px;
    height:2%;
    margin-bottom:0;
}

footer{
    text-align: center;
    background: linear-gradient(to bottom right, #00baba, #007e7e);
}

div#form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:300px;
    margin-left:10px;
    margin-top:10px;
    margin-bottom:10px;
}

div#lists{
    margin-left:10px;
    margin-bottom:10px;
}

div#lists ul{
    margin-left: 10px;
}

div#relatable{}

h3{
  font-family: 'Courgette', cursive;  
}

h2{
  font-family: 'Sirin Stencil', cursive;
}

li{
    font-family: 'Courgette', cursive;
}