h1{
   font-family: 'Courgette', cursive; 
   font-size:80px;
}

p{
    font-family: 'Sirin Stencil', cursive;
    font-size: 18px;
}

nav{
    display:flex;
    font-family: 'Sirin Stencil', cursive;
    font-size:24px;
    justify-content: space-around;
    color: white;
}

img{
    max-height:300px;
    max-width:300px;
}

header{
    display: flex;
    background: linear-gradient(to bottom right, #00CC99, #03a77e);
    width:auto;
    height:200px;
    justify-content: space-around;
}

nav{
    background: linear-gradient(to bottom right, #00baba, #007e7e);
}

body{
    background: linear-gradient(to bottom left, #8b8b8b, #969696)
}

a{
    color:black;
}

div#P-imgs{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
}

div#About-Layout{
    display: flex;
    flex-wrap: wrap;
 }

div#About-Layout img{
    display: flex;
    justify-content: flex-end;
    float:right;
}

div#About-Layout p{
    display: flex;
    justify-content: flex-start;
    float:left;
}