h1{
   font-family: 'Courgette', cursive; 
   font-size:80px;
}

p{
    font-family: 'Sirin Stencil', cursive;
}

nav{
    display:flex;
    font-family: 'Sirin Stencil', cursive;
    font-size:24px;
    justify-content: space-around;
    color: white;
}

img{
    max-height:300px;
    max-width:300px;
}

header{
    display: flex;
    background: linear-gradient(to bottom right, #00CC99, #03a77e);
    width:auto;
    height:200px;
    justify-content: space-around;
}

nav{
    background: linear-gradient(to bottom right, #00baba, #007e7e);
}

body{
    background-color:#9d9d9d
}
a{
    color:black;
}
div#P-imgs{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
}
