/* CSS for Jeff's Blog Site */

/* Reset */
html,body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li{
    margin:0;
    padding:0;
}

/* Universal Style */

body{
    background-color:#929191;
}

div#container{
    display:flex;
    flex-direction:column;
    margin:auto;
    width:100%;
    background-color:#03f09e;
}

header#blog-head{
    display:flex;
    justify-content:center;
    width:100%;
    font-family: 'Signika', sans-serif;
    height:300px;
    text-align:center;
}

header h1{
    align-self:center;
    font-size:4em;
    font-family: 'Signika', sans-serif;
}

/* Blog Post */

div#blog-post{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    width:100%;
    margin:15px 0;
    padding:10px;
    background-color:#b1b1b1;
    box-shadow:3px 3px 3px black;
}

img#post-image{
    align-self:flex-start;
    display:block;
    margin:5px;
    width:150px;
    height:150px;
    background-color:#fff;
}

div#post-body{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    margin:0 5px;
}

h2#post-title{
    font-family: 'Signika', sans-serif;
    align-self:auto;
    font-size:2em
}

h5#post-stamp{ 
    font-family: 'Signika', sans-serif;
    color:#353535;
    font-size:1.09em
}

p#post-text{
    font-family: 'Poppins', sans-serif;
    font-size:1.18em;
}

video#post-vid{
    width:400px;
    height:200px;
}